body,html {
  background: url('../img/bg.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
}

/* MEDIA QUERIES */
@media(max-width: 768px) {
  #logo img { width: 50%; }
  #counter .countdown { font-size: 1.4em !important; }
  #icons .fa { 
    margin: 10px 0 0 !important;
    font-size: 2em;
  }
}

@media (min-width:321px) and (max-width: 568px) and (orientation : landscape){
  #logo img { width: 20%; }
}

/* LOGO */
#logo img { padding-top: 20px; }

/* INTRO */
#intro p {
  color: white;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  font-size: 1.8em;
}

/* COUNTER */
#counter .countdown {
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: -15px 0 0;
}

/* ICONS */
#icons { text-align: center; }

#icons .fa {
  color: white;
  margin: 5px 15px;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

#icons .twitter:hover {
  color: #00aced;
  bottom: 5px;
}

#icons .facebook:hover {
  color: #3b5998;
  bottom: 5px;
}

#icons .google-plus:hover {
  color: #dd4b39;
  bottom: 5px;
}

#icons .instagram:hover {
  color: #bc2a8d;
  bottom: 5px;
}

/* SIGNUP */
#signup {
  text-align: center;
  color: white;
}

#signup .btn-signup {
  background-color: rgba(161,186,226,0.5);
  color: white;
  transition: all 0.3s ease-in-out;
}

#signup .btn-signup:hover {
  background-color: rgba(37,165,82,1);
}

/* SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.error {
  background-color: #F00; /* Black background color */
}
#snackbar.success {
  background-color: #0F0; /* Black background color */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}